.idea/

# Modules Node, logs npm
node_modules
npm-debug.log

# The "distribution" code is the minimized and optimized output of our build process that will eventually be loaded in the browser.
dist

storybook-static
